.background {
    position: relative;
    width: 950px;
    height: 380px;
    background-image: url(../img/Layer.png);
    background-repeat: repeat;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    padding-top: 145px;
    margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.text {
    position: absolute;
    width: 640px;
    min-height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 120px;
    border-radius: 5px;
    left: 160px;
}

.summer,
.winter {
    text-transform: uppercase;
}

.layer {
    width: 900px; 
    height: 320px;
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    overflow: hidden;
    
}

.img {
    position: absolute;
    transform: skew(-15deg);
    min-width: 500px;
    min-height: 320px;
    
}


.img1::after,
.img2::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 320px;
    background-image: url(../img/img1.jpg);
    left: -65px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2::after {
    left: 445px;
    background-image: url(../img/img2.jpg);
}
