.background {
    position: relative;
    width: 950px;
    height: 380px;
    background-image: url(../img/Layer.png);
    background-repeat: repeat;
    padding: 30px 20px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container,
.wrap1,
.wrap2,
.img1,
.img2,
.text {
    position: absolute;
}

.container {  
    width: 900px;
    height: 320px;
    overflow: hidden;
    background-color: #ffffff;
}

.wrap1,
.wrap2 {
    left: -60px;
    width: 500px;
    height: 320px;
    transform: skew(-15deg);
    overflow: hidden;
}

.wrap2 {
    left: 450px;
}

.img1,
.img2 {
    width: 500px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skew(15deg);
}

.img1 {
    left: 45px;
    background-image: url(../img/img1.jpg);
}

.img2 {
    left: -50px;
    background-image: url(../img/img2.jpg);
}

.text {
    width: 640px;
    min-height: 30px;
    left: 160px;
    top: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding-left: 125px;
    padding-right: 120px;
}

.summer,
.winter {
    text-transform: uppercase;
}