.background {
    position: relative;
    width: 935px;
    height: 495px;
    background-image: url(../img/Layer.png);
    background-repeat: no-repeatt;
    background-position: center;
    padding-top: 160px;
    padding-left: 90px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.layer1 {
    position: absolute;
    width: 740px;
    height: 375px;
    background-image: url(../img/pepsi_PNG9.png);
    background-repeat: no-repeat;
    top: 80px;
    left: 272px;
}

.border {
    width: 740px;
    height: 270px;
    border: 5px solid #ffffff;
}

.border::after {
    position: absolute;
    z-index: 1;
    content: "";
    background-color:  #ffffff;
    width:150px;
    height: 5px;
    left: 385px;
    top: 425px;
}